<header class="flex justify-between">
  <a href="/" aria-label="Logo">
    <h1>Logo</h1>
  </a>
  {% include "partials/menuBtn.njk" %}
  {% include "components/navDesktop.njk" %}
  {% include "components/navMobile.njk" %}
</header>

{% include "components/backdrop.njk" %}