<nav class="fixed h-screen w-full bg-primary transform -translate-y-full md:hidden" data-nav-mobile>
  <ul>
    <li><a href="/" data-nav-item>Home</a></li>
    <li><a href="/about" data-nav-item>About</a></li>
  </ul>
</nav>