---
pageTitle: About
template: about
slug: about
---
{# ---
eleventyComputed:
  pageTitle: "{{ about.title[locale] }}"
template: about
permalink: "{{ locale }}/{{ about.slug[locale] | slug }}/index.html"
--- #}

<h1>About Page</h1>