{% for lang in langs.values %}

  {# loop through all page urls and set url #}
  {% set translatedUrl = "/" + lang + "/" %}

  {% for item in collections.all %}
    {% if item.data.template == template and item.data.locale == lang %}
      {% set translatedUrl = item.url %}
    {% endif %}
  {% endfor %}

  <a href="{{ translatedUrl }}" data-nav-item-{{ lang }}>
    {{ langs.naming[loop.index0] }}
  </a>
  {# <a class="{% if loop.first %}{{ 'text-blue' if '/'+langs.naming[0] in page.url }}{% endif %} {% if loop.last %}{% if '/'+langs.naming[0] in page.url %}text-black{% else %}text-blue{% endif %}{% endif %} hover:text-blue duration-300 {% if loop.first %}pr-2{% endif %}" href="{{ translatedUrl }}" data-nav-item-{{ lang }}>
    {{ langs.naming[loop.index0] }}
  </a> #}

  <span>{% if loop.first %}/{% endif %}</span>
  
{% endfor %}