.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.breakword {
  word-break: break-word;
  hyphens: auto;
}

.cursor-right {
  cursor: e-resize;
}

.cursor-left {
  cursor: w-resize;
}

.clip-left {
  clip-path: inset(0% 0% 0% 100%);
}

.clip-right {
  clip-path: inset(0% 100% 0% 0%);
}

.clip-top {
  clip-path: inset(100% 0% 0% 0%);
}

.clip-bottom {
  clip-path: inset(0% 0% 100% 0%);
}

.svg-full svg {
  width: 100%;
  height: 100%;
}

.fade-out-right {
  mask-image: linear-gradient(to right, black 85%, transparent 100%);
}

.link {
  position: relative;
  display: inline-block;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  top: 38%;
  width: 100%;
  height: 30%;
  background: var(--black);
}

.link:hover::after {
  background: var(--gray);
}

.link-active {
  content: '';
  position: absolute;
  left: 0;
  top: 38%;
  width: 100%;
  height: 30%;
  background: var(--black);
}
