/* @font-face {
  font-family: Suisse;
  src: url('/assets/fonts/SuisseIntl-Regular-WebM.woff2') format('woff2'),
       url('/assets/fonts/SuisseIntl-Regular-WebM.woff') format('woff');
       font-weight: 400;
  font-style: normal;
} */
